/* Media 쿼리 부분 */

@media (max-width: 768px) {
    /* 
    기본적으로
    width -> 100%
    가로배치 -> 컬럼
    margin, padding 확인하기
    */

    /* Header */
    .banner {
        display: none;
    }
    header {}
    .logo {}
    .lnb {
        width: 100%;
        text-align: center;
    }
    nav {
        width: 100%;
        padding: 0 20px;
    }
    .gnb {
        flex-direction: column;
        background-color: #fff;
        height: 100vh;
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        text-align: right;
        padding-right: 10px;
        padding-top: 80px;
        box-sizing: border-box;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.17);
        transition: 0.3s;
    }
    .gnb li a {
        color: #000;
        display: block;
        margin: 0;
        font-size: 18px;
        padding: 10px;
    }

    /* Trigger */
    .trigger {
        display: block;
        width: 30px;
        height: 16px;
        position: absolute;
        right: 20px;
        top: 35px;
    }
    .trigger span {
        position: absolute;
        height: 1px;
        background-color: #000;
        width: 100%;
        transition: 0.3s;
    }
    .trigger span:nth-child(1) {
        top: 0;
    }
    .trigger span:nth-child(2) {
        top: 50%;
    }
    .trigger span:nth-child(3) {
        top: 100%;
    }

    .trigger.active span:nth-child(1) {
        top: 50%;
        transform: rotate(45deg);
    }
    .trigger.active span:nth-child(2) {
        opacity: 0;
    }
    .trigger.active span:nth-child(3) {
        top: 50%;
        transform: rotate(-45deg);
    }

    /* Common CSS */
    .inner {
        width: 100%;
        padding: 15px;
        box-sizing: border-box;
    }

    /* Intro */
    .intro .heading h1 {
        font-size: 36px;
    }
    .intro .heading p {
        padding: 0;
    }

    /* About Section */
    .about-content {
        flex-direction: column;
        padding: 50px 0;
    }
    .about-content div {
        padding: 10px;
    }

    /* Ranking Section */
    .ranking-content {
        padding: 50px 0;
    }
    .items {
        flex-direction: column;
    }
    .item {
        width: 100%;
        border-radius: 7px;
        margin-bottom: 30px;
    }
    .ranking-content h2 {
        text-align: center;
    }

    /* testimonial Section */
    .testimonial {
        padding: 50px 0;
    }

    /* CallAction Section */
    .callaction-heading h2 {
        font-size: 36px;
    }
    
    /* Blog Section */
    .blog {
        padding: 50px 0;
    }
    .post-content {
        flex-direction: column;
    }
    .post-item {
        flex-direction: column;
    }
    .post-image {
        width: 100%;
    }
    .post-desc {
        padding: 0;
    }
    .post-desc h3 {
        margin-top: 15px;
        font-size: 30px;
    }
    .blog-header h2 {
        font-size: 36px;
    }
    .blog-header p {
        font-size: 20px;
    }
    .blog-header {
        text-align: center;
    }
    .shared-post-items {
        width: 100%;
        margin: 0;
    }
    .shared-post-items .post-item:last-child {
        margin-bottom: 5px;
    }

    /* Festival Section */
    .festival {
        padding: 15px;
        /* 이 부분은 inner에 포함이 되어 있지않기에 inner에 있는
           padding이 적용이 안돼서 이렇게 넣어 줌 */
    }
    .btns a {
        width: 100%;
        box-sizing: border-box;
        margin: 0;
        margin-bottom: 10px;
    }
    /* 위에 두개는 버튼을 길게 하고 싶을 때! */
    .festival-heading h3 {
        font-size: 22px;
    }

    /* Footer Section */
    .footer-content {
        flex-direction: column;
    }
    .footer-content ul {
        margin-bottom: 25px;
    }
}